
## Identity Operations

        Object
            - value(s)
            - type(s)
            - address location where it is stored - id()


        =  Assignment operator

        == Value-level Equivalence  -  ( value and type) check
        is object-level Equivalence - (address location, value and type) check

In [1]:
4 == 4

True

In [2]:
'4' == '4'

True

In [3]:
4 == '4'

False

In [4]:
num1 = 100
num2 = 200

In [5]:
print(f"{num1 == num2 = }")
print(f"{num1 is num2 = }")
print(f"{id(num1) = } \t {id(num2) =}")

num1 == num2 = False
num1 is num2 = False
id(num1) = 106290112586760 	 id(num2) =106290112589960

In [6]:
num1 = 200

In [7]:
num1

200

In [8]:
num2

200

In [9]:
print(f"{num1 = }")
print(f"{num2 = }")
print(f"{num1 == num2 = }")
print(f"{num1 is num2 = }")
print(f"{id(num1) = } \t {id(num2) =}")

num1 = 200
num2 = 200
num1 == num2 = True
num1 is num2 = True
id(num1) = 106290112589960 	 id(num2) =106290112589960

In [10]:
num3 = 300

In [11]:
num4 = 300

In [12]:
print(f"{num3 =} \t {num4 =}")
print(f"{num3 == num4 = }")
print(f"{num3 is num4 = }")
print(f"{id(num3) = } \t {id(num4) =}")

num3 =300 	 num4 =300
num3 == num4 = True
num3 is num4 = False
id(num3) = 135677413717968 	 id(num4) =135677413718256

In [13]:
num3 = 300.33
num4 = 300.33
print(f"{num3 =} \t {num4 =}")
print(f"{num3 == num4 = }")
print(f"{num3 is num4 = }")
print(f"{id(num3) = } \t {id(num4) =}")

num3 =300.33 	 num4 =300.33
num3 == num4 = True
num3 is num4 = False
id(num3) = 135677481237392 	 id(num4) =135677479157424

In [14]:
num3 = 12.33
num4 = 12.33
print(f"{num3 =} \t {num4 =}")
print(f"{num3 == num4 = }")
print(f"{num3 is num4 = }")
print(f"{id(num3) = } \t {id(num4) =}")

num3 =12.33 	 num4 =12.33
num3 == num4 = True
num3 is num4 = False
id(num3) = 135677479157264 	 id(num4) =135677479157520

In [16]:
num3 = "Dinesh"
num4 = "Dinesh"
print(f"{num3 =} \t {num4 =}")
print(f"{num3 == num4 = }")
print(f"{num3 is num4 = }")
print(f"{id(num3) = } \t {id(num4) =}")

num3 ='Dinesh' 	 num4 ='Dinesh'
num3 == num4 = True
num3 is num4 = True
id(num3) = 135677185541200 	 id(num4) =135677185541200

In [17]:
num3 = [1, 2, 3] # mutable
num4 = [1, 2, 3]
print(f"{num3 =} \t {num4 =}")
print(f"{num3 == num4 = }")
print(f"{num3 is num4 = }")
print(f"{id(num3) = } \t {id(num4) =}")

num3 =[1, 2, 3] 	 num4 =[1, 2, 3]
num3 == num4 = True
num3 is num4 = False
id(num3) = 135677185449792 	 id(num4) =135677414672512

In [18]:
num3 = (1, 2, 3)  # immutable
num4 = (1, 2, 3)
print(f"{num3 =} \t {num4 =}")
print(f"{num3 == num4 = }")
print(f"{num3 is num4 = }")
print(f"{id(num3) = } \t {id(num4) =}")

num3 =(1, 2, 3) 	 num4 =(1, 2, 3)
num3 == num4 = True
num3 is num4 = False
id(num3) = 135677185452928 	 id(num4) =135677185458112


### Dual Memory management Strategy

In Interactive mode,
    For integer,
        -5 to 256      -> no new object created
        outside bounds -> new object is created for each variable

    1) Python preallocates small integers in a range of -5 to 256.
    
    2) This allocation happens during initialization and since we cannot update integers (immutability) these preallocated integers are singletons and are directly referenced instead of reallocating.
    
    3) This means every time we use/creates a small integer, python instead of reallocating just returns the reference of preallocated one.

In [19]:
num1 = 255
num2 = 255

In [20]:
num1 is num2

True

In [21]:
id(num1), id(num2)

(106290112591720, 106290112591720)

In [22]:
num1 = 256
num2 = 256

In [23]:
num1 is num2

True

In [24]:
id(num1), id(num2)

(106290112591752, 106290112591752)

In [25]:
num1 = 257
num2 = 257

In [26]:
num1 is num2   # breakaway

False

In [27]:
id(num1), id(num2)

(135677413718448, 135677413718320)

In [28]:
num1 = -5
num2 = -5

print(num1 is num2)
print(id(num1), id(num2))

True
106290112583400 106290112583400

In [29]:
num1 = -6
num2 = -6

print(num1 is num2)
print(id(num1), id(num2))

False
135677413718416 135677413718320